/* Background */
/* FULL SCREEN BACKGROUND IMAGE */
.bg-green {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;     /* fills the screen */
  background-position: center; /* keeps center visible */
  background-repeat: no-repeat; /* prevents tiling */
}
/* Card style */
.card {
  background-color: rgba(0, 0, 0, 0.15) !important;
  backdrop-filter: blur(5px);
  border-radius: 14px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}
/* Title text */
h3 {
  color: #006144;
  font-weight: bold;
}

/* Subtitle */
h6 {
  color: #ffffff;
}

/* Button styling */
.btn-primary {
  background-color: #006144 !important;
  border-color: #006A4A !important;
}
.btn-primary:hover {
  background-color: #006A4A !important;
  border-color: #006A4A !important;
}

/* Input focus style */
.form-control:focus {
  border-color: #006A4A;
  box-shadow: 0 0 0 0.2rem rgba(102, 187, 106, 0.25);
}

/* Error message */
#errorMsg {
  font-weight: 500;
}
