.top-navbar {
  height: 80px;
  background: #006a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
}

.nav-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hospital-name {
  color: white; /* white text */
  font-weight: 500;
  font-size: 16px;
}

.profile-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white; /* white border for profile picture */
}
.logout-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: white;
  color: #006a3a;
}
